body {   
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(38, 20, 194);
    background: #efeee7;
}
header {
    background: #333333;
}
h1 {
    padding: 30px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: rgb(27, 38, 100);
}
h2 {
    font-size: 24px;
}
a {
    color: #d21034;
}
.container {
    width: 1024px;
    margin: 0 auto;
} 
#main-bio, #contact-info, #bio-image {
    float: left;
}
#main-bio {
    width: 65%;
  } 
#contact-info {
    width: 20%;
}
#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}